<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="/">[Home]</a>
          <span class="navigation-item">::</span>
          <a class="navigation-item" href="/leaderboard">Leaderboard</a>
          <div class="float-right">
            <%= if username = Plug.Conn.get_session(@conn, :username) do %>
              <a class="navigation-item" href="/">Logged as <%= username %></a>
            <% else %>
              <a class="navigation-item" href="/login">Login >></a>
            <% end %>
          </div>
        </section>
      </nav>

      <br>

      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
