<script>
  window.roomId = "<%= @room_id %>";
  window.username = "<%= Plug.Conn.get_session(@conn, :username) %>";
</script>

<section class="phx-hero">
  <h1>Rock Paper Scissors Match</h1>

  <div id="buttons">
    <p>What do you want to play?
    <hr>
    <div class="btn-group btn-group-justified">
      <a id="rock" class="button" href="#">Rock</a>
      <a id="paper" class="button" href="#">Paper</a>
      <a id="scissors" class="button" href="#">Scissors</a>
    </div>
  </div>

  <div id="end-round" style="display: none">
    <p id="message"> Someone won
    <hr>
    <div class="btn-group btn-group-justified">
      <a id="continue" class="button" href="#">Countinue</a>
    </div>
  </div>

  <div id="end-game" style="display: none">
    <p id="message"> Someone won
    <hr>
    <div class="btn-group btn-group-justified">
      <a class="button" href="/game">New game</a>
    </div>
  </div>
</section>
