<section class="phx-hero">
  <h1>Welcome to Rock Paper Scissors Game</h1>
  <%= if Plug.Conn.get_session(@conn, :username) do %>
    <p>Please create new game by clicking the button.
  <% else %>
    <p>We don't know you, please log in.
  <% end %>
  <hr>
  <div class="btn-group btn-group-justified">
    <%= if Plug.Conn.get_session(@conn, :username) do %>
      <a class="button" href="/game">New game</a>
    <% else %>
      <a class="button" href="/login">Login</a>
    <% end %>
  </div>
</section>
