<section class="phx-hero">
  <h1>Leaderboard</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
      <%= for {pos, name, score} <- @board do %>
        <tr>
          <td><%= pos %></td>
          <td><%= name %></td>
          <td><%= score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
