<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
<%= form_for @conn, Routes.page_path(@conn, :post_login), fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>
  <label>
    Password: <%= password_input f, :password %>
  </label>
  <%= submit "Submit" %>
<% end %>
