<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= @names.owner %></th>
      <th><%= @names.player %></th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <%= for {n, %{verdict: verdict, owner_shape: owner_shape, player_shape: player_shape}} <- @rounds do %>
      <tr>
        <td><%= n %></td>
        <td><%= owner_shape %></td>
        <td><%= player_shape %></td>
        <td><%= verdict %></td>
      </tr>
    <% end %>
  </tbody>
</table>
